*{
  box-sizing: border-box;

}
body {
  margin:0;
}
main{
  padding: 0;
}
section{
  padding: auto;
}
header {
  grid-area: header;
  background-color: white;
  padding: 10px 15px;
  padding-right: 40px;
  position: sticky;
  top: 0px;
  z-index: 10;
}
nav img {
  width: 50px;
  height: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#right-menu {
  padding: 0 1%;
  display: flex;
  place-items: center;
  gap: 10px;
}
.menu-item {
  font-weight: 600;
  color: rgb(72, 72, 82);
  display: flex;
  place-items: center;
}
#dropdown-wrapper {
  position: relative;
  font-weight: 600;
  color: rgb(72, 72, 82);
  display: flex;
  place-items: center;
}
#dropdown-wrapper:hover #dropdown-menu {
  display: block;
}
#dropdown-menu {
  width: max-content;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 25px;
  display: none;
}
#dropdown-menu p {
  border-bottom: 1px solid grey;
  padding: 10px;
  margin: 0;
}
#dropdown-menu p:hover {
  background-color: #aaa;
}
#dropdown-wrapper img {
  height: 20px;
  width: 15px;
}
.menu-item img {
  width: 15px;
  height: 20px;
 
}
#button {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  transition: scale 0.3s linear;
}
#button:hover{
  scale: 0.95
}
#button:active{
  scale: 1.05;
}
#landing-section {
  height: 88vh;
  position: relative;
  grid-area: landing;
}
#landing-section::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity:0.5;
  background-image:url('https://img.freepik.com/free-photo/vegetables-border-gray-background-health-wellness-campaign_53876-102719.jpg?w=740&t=st=1705788047~exp=1705788647~hmac=bda1a59b738b2b30e1607840a7bd03af8439beaac30288242c306ac0696c0efe');
  background-size: cover;
  background-repeat: no-repeat;
}
#word-wrapper {
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#word-wrapper h1 {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 3px;
}
#word-wrapper p {
  color: rgb(72, 72, 82);
  font-size: 14px;
}
main {
  display: grid;
  grid-template-areas:
     'header header header header'
     'landing landing landing landing'
     'step-1 step-2 step-3 step-4'
     'vegan vegan vegan vegan'
     'remarks remarks remarks remarks'
     'follow follow follow follow'
     'stats stats stats stats'
     'video video video video'
     'address address address address'
     'footer footer footer footer';
}
#step-1 {
  min-width: 25%;
  grid-area: step-1;
  background-color: rgba(27, 73, 73,0.7);
  padding: 150px 20px;
  box-sizing: border-box;
  height: 80vh;
}
#step-2 {
  min-width: 25%;
  grid-area: step-2;
  background-color: rgba(5, 119, 54,0.7);
  padding: 150px 20px;
  box-sizing: border-box;
  height: 80vh;
}
#step-3 {
  min-width: 25%;
  grid-area: step-3;
  background-color: darkgoldenrod;
  opacity: 0.7;
  padding: 150px 20px;
  box-sizing: border-box;
  height: 80vh;
}
#step-4 {
  min-width: 25%;
  grid-area: step-4;
  background-color: lightcoral;
  opacity: 0.7;
  padding: 150px 20px;
  box-sizing: border-box;
  height: 80vh;
}
#contentwrapper {
  color: white;
  text-align: center;
  line-height: 1.8;
  font-family: 'Poppins', sans-serif;
}
#contentwrapper p {
  font-size: 12px;
}
#contentwrapper i:hover {
  transform: scale(1.4);
}
.button {
  background-color: goldenrod;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 0;
}
.button:hover {
  transform:scale(1.2)
}
#vegan-section {
  background-color: rgba(244, 222, 222, 0.4);
  height: 85vh;
  padding: 20px 20px;
  text-align: center;
  grid-area: vegan;
}
#vegan-section h3 {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  color: darkolivegreen;
}
#vegan-section h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 600;
}
#vegan-section h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
#vegan-section p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: gray;
}
#subsection-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
#vegan-wrap {
  max-width: 22%;
  padding: 20px 10px;
  box-sizing: border-box;
}
#remarks-section {
  background-color: white;
  height: 95vh;
  padding: 2% 1%;
  text-align: center;
  grid-area: remarks;
  margin-bottom: 1%;
}
#remarks-section h3 {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  color: darkolivegreen;
}
#remarks-section h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 600;
}
#remarks-section h4 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}
#remarks-section p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: gray;
}
h4+p {
  margin-top: 0;
}
#subsection-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
#remarks-wrap {
  background-color: rgba(175, 164, 184, 0.3);
  max-width: 320px;
  height: 300px;
  box-sizing: border-box;
  padding: 1%;
  border-radius: 40px;
  border-top-right-radius: 0;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 2%;
}
#remarks-wrap:hover {
  box-shadow: 3px 5px 5px gray;
}
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
#follow-section {
  height: 90vh;
  grid-area: follow;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
#pic {
  width: 65vw;
  height: 100%;
}
#pic img {
  width: 100%;
  height: 100%;
}
#follow-us {
  width: 35vw;
  height: 100%;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
#follow-us::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity:0.5;
  background-image:url('https://freedesignfile.com/upload/2016/10/Fresh-strawberries-background-design-vectors-05.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#follow-wrapper {
  padding:3% 5%;
  text-align: justify;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#follow-wrapper h1 {
  font-size: 40px;
  margin-bottom: 0;
}
#follow-wrapper p {
  color: gray;
  font-size: 12px;
}
#follow-wrapper form {
  margin-top: 10%;
}
#follow-wrapper input {
  font-weight: 600;
}
.mail {
  margin-top: 5%;
  padding: 2%;
  width: 100%;
}
#subscribe {
  max-width: 100%;
  padding: 3%;
  margin-top: 5%;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-weight: 600;
  border: 0;
  transition: all 0.2 linear;
}
#subscribe:hover {
  scale: 1.05;
}
#stat-section {
  grid-area: stats;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 0;
  background-color: rgba(200, 224, 239,0.4);
}
.stat-wrapper {
  text-align: center;
}
.stat-wrapper h2 {
  margin-bottom: 0;
}
.stat-wrapper p {
  margin-top: 0;
}
#video-section {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  grid-area: video;
  padding: 3% 0;
}
#video-section h1 {
  color: gray;
}
#address-section {
  grid-area: address;
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  padding: 2% 5%;
}
#address-section h5 {
  font-family: 'Dancing Script', cursive;
  color: gray;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
#address-section h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 1% 0;
}
#address-section h2 {
  font-family: 'Poppins', sans-serif;
  margin:1% 0;
  font-size: 20px;
  font-weight: 600;
}
#address-section p {
  font-family: 'Poppins', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  color: gray;
  font-size: 14px;
}
#address-1 {
  box-sizing: border-box;
  padding: 0 3%;
  max-width: 45%;
}
#address-2 {
  box-sizing: border-box;
  padding: 0 3%;
  max-width: 45%;
}
#address-2 form{
  padding: 2%;
}
.input {
  margin-top:3%;
  padding: 2%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border: 2px solid gray;
  border-radius: 3%;
}
#subscribe-n {
  max-width: 100%;
  margin-top: 3%;
  background-color: green;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}
#subscribe-n:hover {
  color: green;
  background-color: white;
  border: 1px solid green;
}
#footer {
  background-color: black;
  color: white;
  grid-area: footer;
  padding: 2%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width:720px) {
  #dropdown-wrapper {
    display: none;
  }
  .menu-item {
    display: none;
  }
  #menu-item {
    background-color: green;
    color: white;
    padding: 5px 15px;
  }
  main {
    display: grid;
    grid-template-areas:
         'header header header header'
         'landing landing landing landing'
         'step-1 step-1 step-1 step-1'
         'step-2 step-2 step-2 step-2'
         'step-3 step-3 step-3 step-3'
         'step-4 step-4 step-4 step-4'
         'vegan vegan vegan vegan'
         'remarks remarks remarks remarks'
         'follow follow follow follow'
         'stats stats stats stats'
         'video video video video'
         'address address address address'
         'footer footer footer footer';
  }
  section {
    width: 100%;
    max-width: 720px;
    box-sizing: border-box;
    padding:16px;
  }
  #landing-section{
    height: 70vh;
    width: 100%;
  }
  #word-wrapper{
    max-width: 400px;
  }
  #word-wrapper h1 {
    font-size: 30px
  }
  #word-wrapper p {
    font-size: 12px;
    word-wrap: break-word;
    margin-right:1%;
  }
  #step-1{
    width: 100%;
    height: 400px;
  }
  #step-2{
    width: 100%;
    height: 400px;
  }#step-3{
    width: 100%;
    height: 400px;
  }#step-4{
    width: 100%;
    height: 400px;
  }
  #vegan-section {
    height: 1150px;
  }
  #subsection-1 {
    display: flex;
    flex-direction: column;
    margin: 2px 0;
  }
  #vegan-wrap {
    max-width: 100%;
    box-sizing: border-box;
    height:100% ;
    margin: 0;
    padding: 1%;
  }
  #subsection-2 {
    flex-direction: column;
    margin: 20px 0;
  }
  #remarks-wrap {
    padding: 10px;
    margin-right: 2%;
    margin-bottom:2%;
  }
  #remarks-section {
    height: auto;
  }
  #follow-section {
    flex-direction: column;
    height: 800px;
  }
  #pic {
    width: 100%;
  }
  #follow-us {
    width: 100%;
  }
  #stat-section {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  iframe {
    max-width:400px;
  }
  #address-section {
    flex-direction: column;
    height: auto;
  }
  #address-1 {
    padding: 2%;
    max-width: 90%;
  }
  #address-2 {
    padding: 2%;
    max-width: 90%;
  }
  #footer{
    font-size: 14px;
  }
}